<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharding.mapper.TOrderMapper">

	<select id="selectTOrderJoinTOrderItem" parameterType="Long" resultType="com.example.sharding.entity.TOrder">
		SELECT a.*
		FROM T_ORDER a
		LEFT JOIN t_order_item b ON a.order_id=b.order_id AND a.user_id=b.user_id
		WHERE a.order_id=#{orderId} AND a.user_id=#{userId}
	</select>
	
	<!--order_id定位表，并发查库 -->
	<select id="selectTOrderJoinTOrderItem1" parameterType="Long" resultType="com.example.sharding.entity.TOrder">
		SELECT a.*
		FROM T_ORDER a
		RIGHT JOIN t_order_item b ON a.order_id=b.order_id 
		WHERE a.order_id=#{orderId} 
	</select>
	<!--userId定位库，并发查表  -->
	<select id="selectTOrderJoinTOrderItem2" parameterType="Long" resultType="com.example.sharding.entity.TOrder">
		SELECT a.*
		FROM T_ORDER a
		LEFT JOIN t_order_item b ON a.order_id=b.order_id 
		WHERE a.user_id=#{userId}
	</select>
</mapper>
